.jumbotron h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 75px;
  color: #557A79;
  text-align: center;
}

#headerText {
  text-align: center;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
