#if ($words.size() != 0)
<h3>Words:</h3>
<ul>
  #foreach($word in $words)
    <li><h3><a href="/words/$word.getId()">$word.getName()</a></h3></li>
  #end
</ul>
<h5>Click on a word to view definition/s or add definition/s.</h5>
<hr>
<br>
#end

<h3><a href="words/new" type="button" class="btn btn-success" id="homeButton">Add a New Word</a></h3>
