<h2>Add a Word</h2>

<form action="/" method="post">
  <input type="text" name="name" id="name" required placeholder="Enter Word" class="form-control">
  <button type="submit" class="btn btn-success">Add Word</button>
</form>

<h4><a href="/">Return to Main Page</a></h4>
