<h2>Add a Word</h2>

<form action="/" method="post">
  <input type="text" name="name" id="name" required placeholder="Enter Word" class="form-control" autofocus="autofocus">
  <br>
  <button type="submit" class="btn btn-primary" id="addWord">Add Word</button>
</form>
<br>

<a href="/" type="button" class="btn btn-success" id="homeButton">Return to Main Page</a>
