word-form.vtl

<h1>Add a Word</h1>

<form action="/" method="post">
  <label for="name">Enter a Word</label>
  <input type="text" name="name" id="name">
  <button type="submit" class="btn btn-success">Add Word</button>
</form>

<a href="/">Return to Main Page</a>
